html {
  scrollbar-width: thin;
  /* 火狐滚动条无法自定义宽度，只能通过此属性使滚动条宽度变细 */
  -ms-overflow-style: none;
  /* 隐藏滚动条（在IE和Edge两个浏览器中很难更改样式，固采取隐藏方式） */
  overflow: overlay;
}
html ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
html ::-webkit-resizer,
html ::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 3px;
}
html ::-webkit-scrollbar-corner,
html ::-webkit-scrollbar-track {
  background: 0 0;
}
